<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" targetFramework="net45" />
  <package id="Microsoft.Data.OData" targetFramework="net45" />
  <package id="Microsoft.Data.Services" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" targetFramework="net45" />
  <package id="System.Spatial" targetFramework="net45" />
</packages>